[Unit]
Description=mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Environment='MIRRORUP_ARGS=-v --output-file /etc/pacman.d/mirrorlist'

# backup old /etc/pacman.d/mirrorlist
ExecStartPre=/usr/bin/bash -c '[[ -f /etc/pacman.d/mirrorlist ]] && /usr/bin/mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.old'

# update mirrorlist
ExecStart=/usr/bin/pacman-mirrorup $MIRRORUP_ARGS

# if pacman-mirrorup fails then restore old mirrorlist
ExecStopPost=/usr/bin/bash -c 'if [[ $$EXIT_STATUS != 0 ]]; then [[ -f /etc/pacman.d/mirrorlist.old ]] && /usr/bin/mv /etc/pacman.d/mirrorlist.old /etc/pacman.d/mirrorlist; fi'
