[Unit]
Description=mirrorlist update
StartLimitIntervalSec=26min
StartLimitBurst=5
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
Restart=on-failure
RestartSec=5min
RestartPreventExitStatus=6 SIGABRT
Environment='MIRRORUP_ARGS=--output-file /etc/pacman.d/mirrorlist'

# backup old /etc/pacman.d/mirrorlist
ExecStartPre=/bin/sh -c '[ -f /etc/pacman.d/mirrorlist ] && /bin/mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.old'

# update mirrorlist
ExecStart=/usr/bin/pacman-mirrorup $MIRRORUP_ARGS

# if pacman-mirrorup fails then restore old mirrorlist
ExecStopPost=/bin/sh -c 'if [ $$EXIT_STATUS != 0 ]; then [ -f /etc/pacman.d/mirrorlist.old ] && /bin/mv /etc/pacman.d/mirrorlist.old /etc/pacman.d/mirrorlist; fi'
